<section ng-controller="HomePageController">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Mas rapido</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi autem consequuntur enim illo nobis quidem saepe.
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">En tu celefono</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, earum fugit iusto minima perferendis quo totam vero? Ab
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">En tiempo real</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae consectetur deserunt eligendi, et expedita harum iure iusto possimus, quibusdam rem reprehenderit similique.
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Más Facil</h3>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ducimus sequi unde vero. Adipisci aspernatur at autem beatae, dolore, dolorem eaque eiu.
            </div>
        </div>
    </div>
</section>