//////////////////////////////// Colores
// http://www.colourlovers.com/palette/3538830/5_Colors
$blanco  = #FAFCFC
$celeste = #48D0D3
$azul    = #169093
$cafe    = #683F13
$naranja = #F2571A
html
body
    height 100%

ul.list-group
    list-style none

//////////////////////////////// Generales
.col-warning
    color $celeste
.navbar-default.navbar-nav > .active > a
.navbar-default.navbar-nav > .active > a:hover
.navbar-default.navbar-nav > .active > a:focus
    color #777
    background-color #e7e7e7
//////////////////////////////// Generales
.title
    background $azul
    color $blanco
    padding-bottom 1em
    padding-top 1em
    margin-bottom 1em
    h1
        font-size 5rem
    p
    button
        font-size 2rem
        margin 0 auto


.body
    /*margin-top 1em*/
    padding-top 2em