<table class="table">
    <thead>
    <tr>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>ASD</td><td>ADF</td><td>ADF</td><td>ADF</td><td>ADF</td></tr>
    <tr><td>ASD</td><td>ADF</td><td>ADF</td><td>ADF</td><td>ADF</td></tr>
    <tr><td>ASD</td><td>ADF</td><td>ADF</td><td>ADF</td><td>ADF</td></tr>
    <tr><td>ASD</td><td>ADF</td><td>ADF</td><td>ADF</td><td>ADF</td></tr>
    </tbody>
</table>