<div class="row">
    <div class="col-md-8">
        <ui-view>
            <p>Seleccione una de las opciones</p>
        </ui-view>
    </div>
    <div class="col-md-4">
        <div class="btn-group-vertical">
            <button class="btn btn-default" ui-sref-active="active"><a ui-sref="dashboard.nparciales">Notas parciales</a></button>
            <button class="btn btn-default" ui-sref-active="active"><a ui-sref="dashboard.nparciales">notas Finales</a></button>
            <button class="btn btn-default" ui-sref-active="active"><a ui-sref="dashboard.horario">Horario</a></button>
            <button class="btn btn-default" ui-sref-active="active"><a ui-sref="dashboard.nparciales">Boletin de Saldos</a></button>
            <button class="btn btn-default" ui-sref-active="active"><a ui-sref="dashboard.nparciales">Ficha Curricular</a></button>
        </div>
    </div>
</div>